streamlit==1.35.0
streamlit-lottie==0.0.5
streamlit-molstar==0.4.21
streamlit-ketcher==0.0.1

requests==2.31.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
scikit-learn==1.4.2
joblib==1.4.2

biopython==1.83
py3Dmol==2.0.1
python-dotenv==1.0.1

openai==1.25.2
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-openai==0.1.7

Pillow==10.3.0
beautifulsoup4==4.12.3
together
